<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/itcast_elec_ssh</property>
        <property name="hibernate.connection.autocommit">true</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property><!--对数据库执行更新操作，对数据库添加而不是重新创建表-->
        <property name="hibernate.show_sql">true</property>


        <mapping resource="cn/darlen/elec/domain/ElecText.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>
